################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RAM Usage/v15/ipch/AutoPCH/de4ca6902823659b
/.vs/RAM Usage/v15
